// Menu and header
.navigator {
  transition: all ease-in 0.5s;

  @media (min-width: $tabletSize) {
    flex-direction: row;
  }

  &__menubar__item {
    transition: all ease-in 0.5s;

    @media (min-width: $tabletSize) {
      margin: 0 1em;
    }
  }

  &__logo {
    transition: all ease-in 0.5s;

    @media (min-width: $tabletSize) {
      margin: unset;
      margin-right: auto;
    }
  }
}

// Big picture header 
.startheader {
  transition: all ease-in 0.5s;

  &__joinHeadline {
    @media (min-width: $tabletSize) {
      padding: 0 0 2em 4em;
    }

    @media (min-width: $desktopSize) {
      padding: 0 0 4em 6em;
    }

    @media (min-width: $bigDesktopSize) {
      padding: 0 0 4em 9em;
    }
  }

  &__text {
    transition: all ease-in 0.5s;

    @media (min-width: $tabletSize) {
      padding: 3em 3em 0 0;
    }

    @media (min-width: $desktopSize) {
      padding: 4em 4em 0 0;
    }

    @media (min-width: $bigDesktopSize) {
      padding: 7em 7em 0 0;
    }

    &__joinHeadline {
      @media (min-width: $tabletSize) {
        justify-content: end;
        align-items: start;
      }
    }

    h1 {
      @media (min-width: $mobileSize) {
        font-size: 30px;
      }

      @media (min-width: $tabletSize) {
        font-size: 40px;
      }

      @media (min-width: $desktopSize) {
        font-size: 50px;
      }

      @media (min-width: $bigDesktopSize) {
        font-size: 60px;
      }
    }

    p {
      @media (min-width: $mobileSize) {
        font-size: 18px;
      }

      @media (min-width: $tabletSize) {
        font-size: 22px;
      }

      @media (min-width: $desktopSize) {
        margin-top: 0.5em;
        font-size: 30px;
      }
    }
  }

  &.join {
    @media (min-width: $desktopSize) {
      background-position: unset;
    }
  }
}