.startheader {
  grid-area: headerPicture;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    z-index: 10;

    h1 {
      color: white;
      border-bottom: 2px solid white;
    }

    p {
      color: $blue-text;
      font-weight: bold;
      max-width: 300px;
      width: 80vw;
    }
  }

}