.startheader {
  grid-area: headerPicture;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  &__headlineWrapper {
    border-bottom: 4px solid white;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }

  &__joinHeadline {
    padding-bottom: 2em;
    padding-left: 2em;
  }

  &__text {
    z-index: 10;
    padding: 2em 2em 0 0;

    h1 {
      color: white;
    }

    p {
      color: $blue-text;
      font-weight: bold;
    }
  }

  &.startpage {
    background-image: linear-gradient(to bottom, #c1555552, #24020260),
      url("../../pictures/page-1/hero-1.jpg");
    background-position: center;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      width: 170vw;
      height: 100vw;
      border-radius: 100%;
      border: 20px solid $headline-text;
      border-inline-start: 15px;
      border-inline-end: 15px;
      background: rgb(21, 52, 98);
      background: linear-gradient(0deg, rgba(21, 52, 98, 1) 0%, rgba(0, 19, 44, 1) 35%);
      bottom: 50vh;
      left: -5vw;
      transform: scale(1.1) rotateZ(-4deg);

      @media (min-width: $desktopSize) {
        bottom: 40vh;
      }
    }
  }

  &.faq {
    background-image: linear-gradient(to bottom, #c15555c5, #240202c9),
      url("../../pictures/page-2/hero-2.jpg");
    background-position: center;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      width: 170vw;
      height: 100vw;
      border-radius: 100%;
      border: 20px solid $headline-text;
      border-inline-start: 15px;
      border-inline-end: 15px;
      background: rgb(21, 52, 98);
      background: linear-gradient(0deg, rgba(21, 52, 98, 1) 0%, rgba(0, 19, 44, 1) 35%);
      bottom: 50vh;
      left: -5vw;
      transform: scale(1.1) rotateZ(-4deg);

      @media (min-width: $desktopSize) {
        bottom: 40vh;
      }
    }
  }


  &.join {
    align-items: flex-end;
    justify-content: flex-start;

    background-image: linear-gradient(to top, #c15555c7, #240202dc),
      url("../../pictures/page-3/hero-3.jpg");
    background-position: center;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      width: 170vw;
      height: 100vw;
      border-radius: 100%;
      border: 20px solid $headline-text;
      border-inline-start: 15px;
      border-inline-end: 15px;
      background: rgb(0, 19, 44);
      background: linear-gradient(0deg, rgba(0, 19, 44, 1) 63%, rgba(21, 52, 98, 0.961) 100%);
      top: 70vh;
      right: -5vw;
      transform: scale(1.1) rotateZ(-4deg);

      @media (min-width: $desktopSize) {
        top: 60vh;
      }
    }
  }
}