// Startpage header
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 300px;
}

.headerWrapper {
  display: grid;
  min-height: 300px;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navigator"
    "headerPicture";
  overflow: hidden;
  position: relative;
}



.imgWrapper {
  position: relative;
  display: block;
  object-fit: cover;


  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.inputformWrapper {
  max-width: 1200px;
  width: 90vw;
}