.information {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: white;

  &__picture {
    margin: auto;

    img {
      max-width: 500px;
      width: 100vw;
    }
  }

  &__text {
    padding: 1.5em;

    h2 {
      padding-bottom: 0.2em;
      font-size: 20px;
      color: $red-text;
    }

    p {
      font-size: 12px;

      span {
        color: $red-text;
        font-weight: bold;
      }
    }
  }
}

.mainStartpage {
  background-color: $grey-background;
  margin: auto;

  h2 {
    color: $blue-text;
    text-align: center;
    padding: 2em 1em;
  }
}


.readmore {
  max-width: 1200px;
  padding: 1em;


  &__mars {
    @extend %squares;

    img {
      max-width: 65px;
      position: absolute;
      margin-top: -40px;
      margin-left: - 30px;
    }
  }

  .movePicture {
    margin-top: 1em;

    img {
      max-width: 600px;
      width: 100%;
      height: 100%;
    }
  }

  &__move {
    @extend %squares;
    margin: unset;
    padding: unset;

    .moveText {
      min-width: 300px;
      padding: 1.5em;
      margin: 0 1em 1em 0;
    }
  }

  &__sun {
    @extend %squares;
  }

  .sunPicture {
    position: absolute;
    right: 0.5em;
    margin-top: -70px;

    img {
      width: 100px;
    }
  }
}