.readmore__mars, .readmore__move, .readmore__sun {
  background-color: white;
  padding: 1.5em;
  text-align: center;
}

@media (min-width: 1100px) {
  .readmore__mars, .readmore__move, .readmore__sun {
    text-align: left;
  }
}

.readmore__mars h3, .readmore__move h3, .readmore__sun h3 {
  padding-bottom: 0.5em;
  color: #e32700;
  font-weight: 400;
}

@media (min-width: 1100px) {
  .readmore__mars h3, .readmore__move h3, .readmore__sun h3 {
    font-size: 24px;
  }
}

.readmore__mars p, .readmore__move p, .readmore__sun p {
  font-size: 12px;
}

@media (min-width: 1100px) {
  .readmore__mars p, .readmore__move p, .readmore__sun p {
    font-size: 18px;
  }
}

.readmore__mars button, .readmore__move button, .readmore__sun button {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2c4f80;
  border: solid 1px #2c4f80;
  border-radius: 5px;
  margin-top: 1em;
  height: 30px;
  width: 120px;
}

@media (min-width: 750px) {
  .readmore__mars button:hover, .readmore__move button:hover, .readmore__sun button:hover {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    color: white;
    background: #2c4f80;
  }
}

.inputform label {
  display: -ms-grid;
  display: grid;
  color: #2c4f80;
  font-weight: bold;
  margin: 0.5em;
  font-size: 14px;
  margin-bottom: 0.4em;
}

.inputform label input {
  padding-left: 0.8em;
  color: gray;
  font-weight: 400;
  height: 25px;
}

.inputform label input[value] {
  color: gray;
  padding-left: 0.8em;
  font-weight: 400;
}

.inputform label input,
.inputform label textarea {
  border-radius: 5px;
  border: 1px solid #2c4f80;
  font-family: 'Montserrat', sans-serif;
}

.faqWrapper__traveltime .sunAnimation img, .faqWrapper__traveltime .line {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.startheader.startpage::after, .startheader.faq::after {
  content: "";
  position: absolute;
  width: 170vw;
  height: 100vw;
  border-radius: 100%;
  border: 20px solid #436dac;
  -webkit-border-start: 15px;
          border-inline-start: 15px;
  -webkit-border-end: 15px;
          border-inline-end: 15px;
  background: #153462;
  background: -webkit-gradient(linear, left bottom, left top, from(#153462), color-stop(35%, #00132c));
  background: linear-gradient(0deg, #153462 0%, #00132c 35%);
  bottom: 50vh;
  left: -5vw;
  -webkit-transform: scale(1.1) rotateZ(-4deg);
          transform: scale(1.1) rotateZ(-4deg);
}

@media (min-width: 750px) {
  .startheader.startpage::after, .startheader.faq::after {
    bottom: 40vh;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 300px;
}

.headerWrapper {
  display: -ms-grid;
  display: grid;
  min-height: 300px;
  height: 100vh;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "navigator" "headerPicture";
  overflow: hidden;
  position: relative;
}

.imgWrapper {
  position: relative;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgWrapper img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.inputformWrapper {
  max-width: 1200px;
  width: 90vw;
}

@-webkit-keyframes move-planet {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move-planet {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.navigator {
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navigator;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em;
  background: #061b38;
}

.navigator a {
  text-decoration: none;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.navigator a:hover {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  color: white;
  background: #061b38;
  font-size: 14px;
  border-bottom: 1.5px solid #e32700;
}

.navigator__logo {
  margin: auto;
  padding: 1em;
}

.navigator__logo img {
  max-height: 50px;
}

.navigator__menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.navigator__menubar__item {
  list-style: none;
  margin: 0.4em;
}

.navigator__menubar__item--active {
  border-bottom: 1.5px solid #e32700;
}

.startheader {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: headerPicture;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.startheader__headlineWrapper {
  border-bottom: 4px solid white;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.startheader__joinHeadline {
  padding-bottom: 2em;
  padding-left: 2em;
}

.startheader__text {
  z-index: 10;
  padding: 2em 2em 0 0;
}

.startheader__text h1 {
  color: white;
}

.startheader__text p {
  color: #2c4f80;
  font-weight: bold;
}

.startheader.startpage {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c1555552), to(#24020260)), url("../../pictures/page-1/hero-1.jpg");
  background-image: linear-gradient(to bottom, #c1555552, #24020260), url("../../pictures/page-1/hero-1.jpg");
  background-position: center;
  background-size: cover;
}

.startheader.faq {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c15555c5), to(#240202c9)), url("../../pictures/page-2/hero-2.jpg");
  background-image: linear-gradient(to bottom, #c15555c5, #240202c9), url("../../pictures/page-2/hero-2.jpg");
  background-position: center;
  background-size: cover;
}

.startheader.join {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c15555c7), to(#240202dc)), url("../../pictures/page-3/hero-3.jpg");
  background-image: linear-gradient(to top, #c15555c7, #240202dc), url("../../pictures/page-3/hero-3.jpg");
  background-position: center;
  background-size: cover;
}

.startheader.join::after {
  content: "";
  position: absolute;
  width: 170vw;
  height: 100vw;
  border-radius: 100%;
  border: 20px solid #436dac;
  -webkit-border-start: 15px;
          border-inline-start: 15px;
  -webkit-border-end: 15px;
          border-inline-end: 15px;
  background: #00132c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(63%, #00132c), to(rgba(21, 52, 98, 0.961)));
  background: linear-gradient(0deg, #00132c 63%, rgba(21, 52, 98, 0.961) 100%);
  top: 70vh;
  right: -5vw;
  -webkit-transform: scale(1.1) rotateZ(-4deg);
          transform: scale(1.1) rotateZ(-4deg);
}

@media (min-width: 750px) {
  .startheader.join::after {
    top: 60vh;
  }
}

.navigator {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .navigator {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.navigator__menubar__item {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .navigator__menubar__item {
    margin: 0 1em;
  }
}

.navigator__logo {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .navigator__logo {
    margin: unset;
    margin-right: auto;
  }
}

.startheader {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .startheader__joinHeadline {
    padding: 0 0 2em 4em;
  }
}

@media (min-width: 750px) {
  .startheader__joinHeadline {
    padding: 0 0 4em 7em;
  }
}

@media (min-width: 1100px) {
  .startheader__joinHeadline {
    padding: 0 0 4em 10em;
  }
}

.startheader__text {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .startheader__text {
    padding: 4em 3em 0 0;
  }
}

@media (min-width: 750px) {
  .startheader__text {
    padding: 5em 5em 0 0;
  }
}

@media (min-width: 1100px) {
  .startheader__text {
    padding: 7em 7em 0 0;
  }
}

@media (min-width: 500px) {
  .startheader__text__joinHeadline {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 350px) {
  .startheader__text h1 {
    font-size: 30px;
  }
}

@media (min-width: 500px) {
  .startheader__text h1 {
    font-size: 40px;
  }
}

@media (min-width: 750px) {
  .startheader__text h1 {
    font-size: 50px;
  }
}

@media (min-width: 1100px) {
  .startheader__text h1 {
    font-size: 60px;
  }
}

@media (min-width: 350px) {
  .startheader__text p {
    font-size: 18px;
  }
}

@media (min-width: 500px) {
  .startheader__text p {
    font-size: 22px;
  }
}

@media (min-width: 750px) {
  .startheader__text p {
    margin-top: 0.5em;
    font-size: 30px;
  }
}

@media (min-width: 750px) {
  .startheader.join {
    background-position: unset;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #2c4f80;
  padding: 2em;
  color: white;
}

footer h2 {
  font-size: 14px;
  padding-bottom: 0.5em;
}

footer p {
  font-size: 10px;
  width: 220px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer p span {
  color: #e32700;
}

footer {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 750px) {
  footer {
    padding: 3em 2em;
  }
}

@media (min-width: 1100px) {
  footer p {
    width: unset;
  }
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: white;
}

.information__picture {
  margin: auto;
}

.information__picture img {
  max-width: 500px;
  width: 100vw;
}

.information__text {
  padding: 1.5em;
}

.information__text h2 {
  padding-bottom: 0.2em;
  font-size: 20px;
  color: #e32700;
}

.information__text p {
  font-size: 12px;
}

.information__text p span {
  color: #e32700;
  font-weight: bold;
}

.mainStartpage {
  background-color: #f1f1f1;
  margin: auto;
}

.mainStartpage h2 {
  color: #2c4f80;
  text-align: center;
  padding: 2em 1em;
}

.readmore {
  max-width: 1200px;
  padding: 1em;
}

.readmore__mars img {
  max-width: 65px;
  position: absolute;
  margin-top: -40px;
  margin-left: -30px;
}

.readmore .movePicture {
  margin-top: 1em;
}

.readmore .movePicture img {
  max-width: 600px;
  width: 100%;
  height: 100%;
}

.readmore__move {
  margin: unset;
  padding: unset;
}

.readmore__move .moveText {
  min-width: 300px;
  padding: 1.5em;
  margin: 0 1em 1em 0;
}

.readmore .sunPicture {
  position: absolute;
  right: 0.5em;
  margin-top: -70px;
}

.readmore .sunPicture img {
  width: 100px;
}

.information {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .information {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.information__picture {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .information__picture {
    margin: unset;
  }
}

@media (min-width: 500px) {
  .information img {
    width: 50vw;
  }
}

@media (min-width: 1100px) {
  .information img {
    max-width: 600px;
  }
}

.information__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .information__text {
    padding: 1em 2em;
  }
}

@media (min-width: 750px) {
  .information__text {
    padding: 1em 3em;
  }
}

@media (min-width: 1100px) {
  .information__text {
    padding: 0 4em;
  }
}

@media (min-width: 500px) {
  .information h2 {
    font-size: 18px;
  }
}

@media (min-width: 750px) {
  .information h2 {
    font-size: 24px;
  }
}

@media (min-width: 1100px) {
  .information h2 {
    font-size: 36px;
    text-align: left;
    padding: 0 0 0.5em 0;
  }
}

@media (min-width: 500px) {
  .information p {
    font-size: 10px;
  }
}

@media (min-width: 750px) {
  .information p {
    font-size: 12px;
  }
}

@media (min-width: 1100px) {
  .information p {
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  .mainStartpage {
    padding-bottom: 2em;
  }
}

.readmore {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 750px) {
  .readmore {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 2fr 0.8fr;
        grid-template: 1fr 1fr / 2fr 0.8fr;
        grid-template-areas: "mars sun" "move sun";
    grid-gap: 1em;
    margin: auto;
  }
}

.readmore__mars {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .readmore__mars {
    margin-bottom: 1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    text-align: unset;
  }
}

@media (min-width: 750px) {
  .readmore__mars {
    margin-bottom: 0;
  }
}

.readmore__mars .marsPicture {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .readmore__mars .marsPicture {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5em;
  }
}

.readmore__mars img {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .readmore__mars img {
    position: unset;
    margin-top: unset;
    margin-left: unset;
    max-width: 150px;
  }
}

.readmore__mars .marsText {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .readmore__mars .marsText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.5em;
  }
}

@media (min-width: 750px) {
  .readmore__mars .marsText {
    padding: 0 1em;
  }
}

@media (min-width: 1100px) {
  .readmore__mars .marsText {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.readmore__move {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .readmore__move {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
  }
}

@media (min-width: 750px) {
  .readmore__move {
    margin-bottom: 0;
  }
}

@media (min-width: 500px) {
  .readmore__move .movePicture {
    margin: 0 1em 0 0;
    height: 100%;
  }
}

@media (min-width: 750px) {
  .readmore__move .movePicture img {
    height: 100%;
  }
}

@media (min-width: 500px) {
  .readmore__move .moveText {
    max-width: 400px;
  }
}

@media (min-width: 750px) {
  .readmore__move .moveText {
    min-width: unset;
    margin: unset;
  }
}

.readmore__sun {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .readmore__sun {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text sun";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 750px) {
  .readmore__sun {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sun;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "sun" "text";
  }
}

@media (min-width: 500px) {
  .readmore .sunText {
    padding-right: 3em;
    grid-area: text;
  }
}

@media (min-width: 750px) {
  .readmore .sunText {
    padding-right: 0;
  }
}

.readmore .sunPicture {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 500px) {
  .readmore .sunPicture {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    position: unset;
    right: unset;
    margin-top: unset;
  }
}

@media (min-width: 500px) {
  .readmore .sunPicture img {
    width: unset;
  }
}

@media (min-width: 750px) {
  .readmore .sunPicture img {
    margin: auto;
  }
}

.mainFaqPage {
  background: #f1f1f1;
  padding: 1em;
}

.mainFaqPage h1 {
  text-align: center;
  color: #2c4f80;
  padding: 1.5em 0;
}

.faqWrapper h2 {
  color: #e32700;
  font-weight: 400;
  padding-bottom: 1em;
  text-align: center;
  font-size: 18px;
}

.faqWrapper p {
  font-size: 14px;
}

.faqWrapper article {
  margin-bottom: 1em;
  background: white;
}

.faqWrapper__why {
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
  padding: 2em;
}

.faqWrapper__why p {
  margin-bottom: 2em;
}

.faqWrapper__risks {
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
  padding: 2em;
  font-size: 12px;
}

.faqWrapper__risks ul {
  padding: 1em;
  list-style: none;
}

.faqWrapper__risks ul li::before {
  content: '\2022';
  color: #e32700;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.faqWrapper__risks li {
  padding-left: 1em;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: bold;
}

.faqWrapper__events {
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
  display: -ms-grid;
  display: grid;
}

.faqWrapper__events__text {
  padding: 1.5em;
}

.faqWrapper__events img {
  width: 100%;
}

.faqWrapper__traveltime {
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
}

.faqWrapper__traveltime__text {
  padding: 1.5em;
}

.faqWrapper__traveltime__animation {
  background-image: radial-gradient(circle at 50% 39%, #072142, #00132c 101%);
  display: -ms-grid;
  display: grid;
  max-height: 500px;
  height: 100%;
  max-width: 500px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faqWrapper__traveltime .sunAnimation,
.faqWrapper__traveltime .marsAnimation,
.faqWrapper__traveltime .earthAnimation {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
}

.faqWrapper__traveltime .sunAnimation {
  display: -ms-grid;
  display: grid;
  place-self: center;
}

.faqWrapper__traveltime .sunAnimation img {
  width: 50px;
}

.faqWrapper__traveltime .line {
  border-radius: 100%;
  -webkit-animation: move-planet linear infinite;
          animation: move-planet linear infinite;
}

.faqWrapper__traveltime .earthAnimation {
  place-self: center;
}

.faqWrapper__traveltime .earthAnimation.line {
  width: 10em;
  height: 10em;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.faqWrapper__traveltime .earthAnimation img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 18px;
}

.faqWrapper__traveltime .marsAnimation {
  place-self: center;
}

.faqWrapper__traveltime .marsAnimation.line {
  width: 14em;
  height: 14em;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.faqWrapper__traveltime .marsAnimation img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 20px;
}

.mainFaqPage {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 750px) {
  .mainFaqPage {
    padding: 0;
  }
}

@media (min-width: 500px) {
  .mainFaqPage h1 {
    padding: 1em;
  }
}

@media (min-width: 750px) {
  .mainFaqPage h1 {
    grid-column: span 2;
  }
}

@media (min-width: 500px) {
  .mainFaqPage h2 {
    font-size: 24px;
  }
}

.faqWrapper {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 750px) {
  .faqWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template: auto auto auto / 1fr 1fr;
    gap: 2em;
  }
}

@media (min-width: 1100px) {
  .faqWrapper {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1.3fr 2fr;
        grid-template: 1fr 1fr 1fr / 1.3fr 2fr;
  }
}

@media (min-width: 750px) {
  .faqWrapper article {
    margin-bottom: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

@media (min-width: 750px) {
  .faqWrapper h2 {
    padding: 0 1em 1em;
    text-align: unset;
  }
}

@media (min-width: 1100px) {
  .faqWrapper p {
    font-size: 16px;
  }
}

@media (min-width: 750px) {
  .faqWrapper__why {
    grid-column: span 2;
    grid-row: unset;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__why {
    grid-column: unset;
    padding: 2em 5em 2em 4em;
    grid-row: span 2;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__why h2 {
    padding: 1em 0;
  }
}

@media (min-width: 500px) {
  .faqWrapper__why p {
    padding: 0 2em;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__why p {
    font-size: 16px;
    padding: 0;
  }
}

@media (min-width: 500px) {
  .faqWrapper__risks {
    padding: 2em 4em;
  }
}

@media (min-width: 750px) {
  .faqWrapper__risks {
    padding: 2em 3em;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__risks {
    font-size: 16px;
    padding: 2em 5em;
  }
}

@media (min-width: 750px) {
  .faqWrapper__risks h2 {
    padding: 0.7em 0;
  }
}

@media (min-width: 750px) {
  .faqWrapper__events {
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__events {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
  }
}

@media (min-width: 750px) {
  .faqWrapper__events img {
    height: 100%;
  }
}

@media (min-width: 500px) {
  .faqWrapper__events__text {
    padding: 1.5em 3em;
  }
}

@media (min-width: 750px) {
  .faqWrapper__events__text {
    padding: 2em 3em;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__events__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0 5em;
  }
}

@media (min-width: 750px) {
  .faqWrapper__events__text h2 {
    padding: 0.5em 0;
  }
}

@media (min-width: 750px) {
  .faqWrapper__traveltime {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    grid-column: span 2;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__traveltime {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 750px) {
  .faqWrapper__traveltime__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    align-self: center;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__traveltime__text {
    padding: 0 8em 0 4em;
  }
}

@media (min-width: 750px) {
  .faqWrapper__traveltime__text h2 {
    padding: 0 1em 1em 1em;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__traveltime__text h2 {
    padding: 0 1em 1em 0;
  }
}

@media (min-width: 500px) {
  .faqWrapper__traveltime__text p {
    padding: 0 2em;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__traveltime__text p {
    padding: 0;
  }
}

@media (min-width: 500px) {
  .faqWrapper__traveltime__animation {
    width: 100%;
    max-width: unset;
    min-height: 300px;
  }
}

@media (min-width: 750px) {
  .faqWrapper__traveltime__animation {
    max-height: 400px;
  }
}

@media (min-width: 1100px) {
  .faqWrapper__traveltime__animation {
    max-width: 500px;
    max-height: 500px;
  }
}

.mainJoinPage {
  background: #f1f1f1;
  margin: auto;
  padding: 1em 1em 2em 1em;
}

.joinus {
  padding: 1.5em 0;
  text-align: center;
  max-width: 480px;
  width: 80vw;
  margin: auto;
}

.joinus h2 {
  color: #e32700;
  font-size: 22px;
  margin-bottom: 0.2em;
}

.joinus p {
  color: #2c4f80;
  font-size: 14px;
}

.inputform {
  background: white;
  display: -ms-grid;
  display: grid;
  padding: 1em;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
  -ms-grid-columns: 80vw;
      grid-template-columns: 80vw;
}

.inputform label {
  max-width: 80vw;
}

.inputform label input {
  width: 100%;
}

.inputform__motivation {
  max-width: 80vw;
}

.inputform__motivation textarea {
  width: 100%;
}

.inputform__submitbutton {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.inputform__submitbutton button {
  height: 30px;
  background: white;
  width: 150px;
  color: #2c4f80;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #2c4f80;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 750px) {
  .inputform__submitbutton button:hover {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    color: white;
    background: #2c4f80;
  }
}

.mainJoinPage {
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

@media (min-width: 750px) {
  .mainJoinPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.joinus {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 750px) {
  .joinus {
    padding: 5em 0;
  }
}

@media (min-width: 500px) {
  .joinus h2 {
    font-size: 24px;
  }
}

@media (min-width: 750px) {
  .joinus h2 {
    font-size: 36px;
  }
}

@media (min-width: 500px) {
  .joinus p {
    font-size: 18px;
  }
}

@media (min-width: 750px) {
  .joinus p {
    font-size: 24px;
  }
}

.inputform {
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

@media (min-width: 500px) {
  .inputform {
    -ms-grid-columns: unset;
        grid-template-columns: unset;
  }
}

@media (min-width: 750px) {
  .inputform {
    -ms-grid-rows: 0.8fr 0.8fr 3fr auto;
    -ms-grid-columns: 1fr 1fr 0.5fr;
        grid-template: 0.8fr 0.8fr 3fr auto / 1fr 1fr 0.5fr;
    padding: 2em;
  }
}

@media (min-width: 750px) {
  .inputform__motivation {
    grid-column: span 3;
    line-height: 2em;
  }
}

@media (min-width: 750px) {
  .inputform__submitbutton {
    grid-column: span 3;
  }
}
/*# sourceMappingURL=main.css.map */